.fr-collapse.fr-collapse--expanded, .fr-collapse--expanded {
    max-height: none !important;
    --collapse-max-height: none;
    /*--collapse-max-height:25rem;
    overflow-y: auto !important;*/
    /*top: 3rem !important;*/
}