.fr-required {
    display: inline-block !important;
    color: var(--dxp-g-destructive);
    margin-left: .5rem;
    position: relative;
    top : -.25rem;
}
.align-right {
    text-align: end;
}
.singleButton {
    width: 100%;
    text-align: center;
    justify-content: center;
}
/* DSFR overrides to properly position the checkbox vs the input */
.fr-password__checkbox {
    /*flex-shrink: 0;*/
    flex-basis: 0%;
    flex-grow: 1;
    position: absolute;
    top: 0;
    right: 0;
}