/*.dsfrInput {
    --slds-c-input-color-background : transparent;
    --slds-c-input-color-background-focus : transparent;
    --slds-c-input-color-border:  transparent;
    --slds-c-input-color-border-focus: transparent;
    --slds-c-input-radius-border: 0px;
}*/
.mainForm {
    min-height: 100px;
}
.spinnerDiv {
    top: 20px;
    left: 10px;
}
.formTitle {
    min-width: 50%;
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}
.formHeader {
    margin-bottom: 0.75rem;
}