.fr-card__desc {
    color: var(--text-default-grey) !important;
}
.cardImage-small {
    max-height: 200px;
}
.cardImage-medium {
    max-height: 250px;
}
.cardImage-large {
    max-height: 300px;
}
.imageContainer {
    text-align: center;
}
/* DSFR styling enforcement 
.fr-card__desc + .fr-card__desc {
    margin-top: 0px !important;
}*/
.cardHeader {
    min-height: 3.5rem !important;
}