.fr-card__desc {
    color: var(--text-default-grey) !important;
}
.cardImage-small {
    max-height: 200px;
}
.cardImage-medium {
    max-height: 250px;
}
.cardImage-large {
    max-height: 300px;
}
.cardImageFit {
    object-fit: contain !important;
}
.imageContainer {
    text-align: center;
}
/* DSFR styling enforcement 
.fr-card__desc + .fr-card__desc {
    margin-top: 0px !important;
}*/
.cardHeader {
    min-height: 3.5rem !important;
}
.fr-badges-group {
    vertical-align: middle !important;
}
.detailValue {
    margin-bottom: 0 !important;
}
.badgeListItem {
    display: flex !important;
}
p.[class*=" fr-icon-"]:before {
    vertical-align: calc((0.5rem - var(--icon-size))*.5) !important;
}
.fr-card__title, .fr-card__desc, .fr-card__detail {
    overflow-wrap: break-word;
    word-break: break-word;
}
.debugSection {
    position: relative;
    bottom: 20px;
}