.dsfrHeaderLogo {
    line-height: 1.0317460317em !important;
}
.fr-header__service-title {
    color: var(--text-default-grey) !important;
}
.fr-btn--search {
    color: var(--text-default-grey) !important;
}
.fr-header {
    width: 100vw !important;
    margin-left: min(600px - 50vw , 0px) !important;
}
/* hide second top menu in modal when it is not open */
.fr-modal:not(.fr-modal--opened) .toolsModal {
    display:none;
}
/* iPhone input rounding bypass */
input[type="search"] {
    -webkit-appearance: none;
}