.listLoader {
    display:none
}
.listHeader {
    margin-bottom:  0.5rem;
}
.listTitle {
    padding-top:  0.5rem !important;
    min-width: 50%;
    padding-bottom:  0.5rem !important;
    /*line-height: .5rem !important;*/
    margin-bottom: var(--title-spacing) !important;
    /*margin-bottom:  0.75rem !important;*/
}
.sortMenu {
    position: relative !important;
    margin-bottom: var(--title-spacing) !important;
    font-size: .5rem !important;
    line-height: .5rem !important;
    display: inline-block !important;
}
.refreshButton {
    display: inline-block !important;
    font-size: .5rem !important;
    line-height: .5rem !important;
    margin-bottom: var(--title-spacing) !important;
}
.fr-nav__item:before {
    box-shadow: none !important;
}
.sortButton {
    padding-top:  0.5rem !important;
    padding-bottom:  0.5rem !important;
}
.fr-menu {
    padding-top:  0px !important;
    padding-bottom:  0px !important;
    /*-webkit-appearance: none;*/
    filter: drop-shadow(var(--overlap-shadow)) !important;
}
.fr-menu.fr-collapse--expanded {
    display: inline-block  !important;
    max-height: none !important;
    /*background-color: transparent;
    background-color: var(--background-contrast-grey);*/
    background-color: white;
    color: black;
    z-index: 1000;
    position: absolute !important;
    padding-left:  0rem !important;
    padding-right:  0rem !important;
    padding-bottom:  0rem !important;
    margin-left:  0rem !important;
    margin-right:  0rem !important;
    margin-bottom:  0rem !important;
    top:  2.75rem !important;
    right: 0rem !important;
}
/*.fr-nav__link {
    --hover-tint: var(--hover);
    --active-tint: var(--active);
}*/
.fr-nav__link:hover {
    background-color: var(--hover-tint);
}
.fr-nav__link {
    color: var(--text-default-grey) !important;
}
.fr-nav__link[aria-current] {
    font-weight: bold !important;
    color: var(--dxp-c-link-text-color,var(--dxp-s-link-text-color,var(--dxp-g-brand))) !important;
    position: static !important;
}
.fr-nav__link[aria-current]:before {
    display: none !important;
}
.align-right {
    /*text-align: end;*/
    align-items: flex-end;
    justify-content: flex-end;
}
.align-center {
    /*text-align: center;*/
    align-items: center;
    justify-content: center;
}
.debugInfo {
    padding: 1rem;
    color: navy;
    font-style: italic;
    font-weight: bold;
}
ul.horizontalUL li {
    display: inline-block;
    white-space:normal;
    overflow:hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    padding-right: 1em;   
}
ul.horizontalUL li:last-child {
    padding-right: 0em; 
}
ul.horizontalUL {
    line-height: 0.5rem;
}
