/*.align-left {
    display: block;
    margin-left: 0;
    margin-right: auto;
}*/
.align-right {
    text-align: end;
    /*align-self: self-end;*
    /*display: inline-block;
    margin-left: auto;
    margin-right: 0;*/
}
.align-center {
    text-align: center;
    /*align-self: center;
    /*justify-content: center;
    /*display: block;
    margin-left: auto;
    margin-right: auto;*/
}