.buttonIcon {
    max-width: 100% !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
.align-right {
    text-align: end;
    max-width: 100%;
    /*align-self: self-end;*
    /*display: inline-block;
    margin-left: auto;
    margin-right: 0;*/
}
.align-center {
    text-align: center;
    max-width: 100%;
    /*align-self: center;
    /*justify-content: center;
    /*display: block;
    margin-left: auto;
    margin-right: auto;*/
}
.fr-btn {
    width: 100%;
    text-align: center;
    justify-content: center;
}
@media (min-width: 48em) {
    .fr-btn {
        width: fit-content;
    }
}