.listLoader {
    display:none
}
.listItem + .listItem::before {
    content: "-";
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.fr-download {
    margin-bottom: .25rem !important;
}
.noPadding {
    padding-bottom: 0rem !important;
}
c-dsfr-file-upload-cmp + .fr-btn {
    padding-left: 0 !important;
}