.listLoader {
    display:none
}
.listItem + .listItem::before {
    content: "-";
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.fr-download {
    margin-bottom: .25rem !important;
}
.noPadding {
    padding-bottom: 0rem !important;
}
c-dsfr-file-upload-cmp + .fr-btn {
    padding-left: 0 !important;
}
/* Header global overrides */
.listTitle {
    padding-top:  0.5rem !important;
    min-width: 50%;
    padding-bottom:  0.5rem !important;
    /*line-height: .5rem !important;*/
    margin-bottom: var(--title-spacing) !important;
    /*margin-bottom:  0.75rem !important;*/
}

/* Header sort feature overrides */
.sortNav {
    /*margin-top: -2px;
    background-color: blue;
    padding: 2px;*/
    display: inline-block;
    position: static;
    vertical-align: middle;
    flex: none;
}
.sortDiv {
    /*background-color: green;
    padding: 2px;*/
    display: inline-block;
    position: relative;
}
.sortDiv::before {
    display: none !important;
}
.sortButton {
    /*background-color: red;*/
    padding-top:  0.5rem !important;
    padding-bottom:  0.5rem !important;
    min-height: auto !important;
    min-height: auto !important;
    /*justify-content: flex-start !important;*/
    font-size: .875rem !important;
    padding-right: .5rem !important;
    display: block !important;
}
.sortMenu {
    display: none;
    max-height: none !important;
    background-color: white;
    color: black;
    z-index: 1000;
    position: absolute !important;
    padding-left:  0rem !important;
    padding-right:  0rem !important;
    padding-bottom:  0rem !important;
    margin-left:  0rem !important;
    margin-right:  0rem !important;
    margin-bottom:  0rem !important;
    top: 120% !important;
    right: 0 !important;
    position: absolute !important;
    filter: drop-shadow(var(--overlap-shadow));
}
.sortMenu.fr-collapse--expanded {
    display: block  !important;
}
.sortList {
    max-width: 20 rem !important;
    background-color: var(--background-overlap-grey);
    margin-bottom: 1rem;
}
.sortLink {
    color: var(--text-default-grey) !important;
    font-size: .875rem !important;
    box-shadow: 0 calc(-1rem - 1px) 0 -1rem var(--border-default-grey) !important;
}
.sortLink[aria-current] {
    font-weight: bold !important;
    color: var(--dxp-c-link-text-color,var(--dxp-s-link-text-color,var(--dxp-g-brand))) !important;
    position: static !important;
}
.sortLink[aria-current]:before {
    display: none !important;
}
.sortLink:before {
    box-shadow: none !important;
}
.sortLink:hover {
    background-color: var(--hover-tint);
}

/* Header refresh feature overrides */
.refreshDiv {
    display: inline-block;
    /*background-color: yellow;
    padding: 3px;*/
    position: static;
    vertical-align: middle;
}
.refreshButton{
    /* background-color: orange;*/
    display: block;
    padding-left: .5rem !important;
    padding-right: .5rem !important;
    /*outline-offset: 0px !important;*/
}