.mainSearchDiv .criteriaDiv {
    margin-top: 2em;
}

.fr-menu__list {
    box-shadow: inset 0 1px 0 0 var(--border-open-blue-france);
    background-color: rgb(255,255,255);
}
.fr-collapse--expanded {
    --collapse-max-height:20rem;
    overflow-y: auto !important;
    top: 3rem !important;
}
.fr-menu.fr-collapse--expanded {
    background-color: white;
    z-index: 1500;
    padding-left:  0.1rem !important;
    padding-right:  0.1rem !important;
    margin-left:  0rem !important;
    margin-right:  0rem !important;
}
.selectMenu .fr-menu {
    pointer-events: auto !important;
    padding-left:  0.1rem !important;
    padding-right:  0.1rem !important;
    filter: drop-shadow(var(--overlap-shadow));
    pointer-events: none;
    position: absolute;
    top: 100%;
}
.selectMenu {
    position: relative !important;
    /*margin-bottom: var(--title-spacing) !important;*/
}
/*.fr-menu.fr-collapse--expanded {
    --collapse-max-height:20rem;
    display: inline-block  !important;
    overflow-y: auto !important;
    background-color: white;
    z-index: 1000;
    position: absolute !important;
    margin-top:  0.1rem !important;
    padding-left:  0.1rem !important;
    padding-right:  0.1rem !important;
    margin-left:  0rem !important;
    margin-right:  0rem !important;
    top:  2.75rem !important;
    right: 0rem !important;
}*/
.fr-nav__link:hover {
    background-color: var(--hover-tint);
}
/* iPhone input rounding bypass */
input[type="search"] {
    -webkit-appearance: none;
}
.selectButton {
    background-color: rgb(255,255,255) !important;
}
.selectButton:before {
    /*-webkit-mask-image: none !important;*/
    display: none !important;
}
.menuSelector {
    background-image: none !important;
}
.selectionTag {
    margin-bottom: 0px !important;
}
.selectionItem {
    line-height: 1,5rem !important;
}
.applyContainer {
    text-align: end;
}
.applyButton {
    margin-top: 1em;
}
/*.mainSelectSummary {
    margin-top: 1em;
}
.selectSummary {
    margin-top: 1em;
}*/
.tagSelection {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    vertical-align: middle !important;
}

.mainSearch {
    /*height: 2rem;*/
    /*min-width: 50%;*/
    line-height: 1.75rem;
    min-height: 3rem;
}
.mainSearchLayout {
    width:100%;
}
.selectButton {
    /*inset -1px var(--border-default-grey),*/
    min-height: 3rem;
    box-shadow:  inset 0 -2px 0 0 var(--border-action-high-blue-france), inset 1px 1px 0 0 var(--border-default-grey), inset -1px 0 0 0 var(--border-default-grey)  ;
    border-top-right-radius: 0px;
    /*border: 1px solid var(--border-default-grey);
    margin: -1px;*/
    max-width: 100% !important;
}
.searchButton {
    min-height: 3rem !important;
}

.fr-nav__link {
    color: var(--text-default-grey) !important;
}
.fr-nav__link[aria-current] {
    font-weight: bold !important;
    color: var(--dxp-c-link-text-color,var(--dxp-s-link-text-color,var(--dxp-g-brand))) !important;
}
.fr-nav__link[aria-current]:before {
    width: 3px !important;
}

.fr-tags-group > li {
    line-height: 2rem !important;
}

.mainSelectionTitle {
    background: rgb(255,255,255, 0.66);
    line-height: 2rem;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    margin-bottom: 2px;
    /*text-shadow: 1px 0px .5em rgb(255,255,255), 0px 1px .5em rgb(255,255,255), -1px 0px .5em rgb(255,255,255), 0px -1px .5em rgb(255,255,255);*/
}
